/*
 *                LESS Built in functions
 *                =======================
 *
 * ---------------- Simple Color Functions ----------------
 * lighten(color, amount)     darken(color, amount)
 * saturate(color, amount)    desaturate(color, amount)
 * fadein(color, amount)      fadeout(color, amount)
 * fade(color, amount)        mix(color1, color2)
 *
 *
 * ---------- Color Functions that return a value ----------
 * hue(color)                 saturation(color)
 * lightness(color)           alpha(color)
 * grayscale(color)           complement(color)
 * invert(color)
 *
 * --------------------- Math Functions --------------------
 * round(number)              ceil(number)
 * floor(number)              percentage(number)
 * abs(number)                min(n1, n2, ...)
 * max(n1, n2, ...)
 */
/* Color Functions */
h1 {
    color: #b9b9b9;
}

h2 {
    color: #f10000;
}

h3 {
    color: #ff2525;
}

h4 {
    color: #ff5858;
}

#myDiv1 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    /* Notice the use of hue() to extract the hue and applying it to hsl()*/
    border-color: #c76b6b;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}
