/*
 * This LESS file imports all of the variables that are defined
 * in import-me.less and uses it here
 */
@import "import-me.scss";

div {
  color: $myColor1;
}

#myDiv1 {
  font-size: $myFontSize;
  border: $myThinBorder;
  padding: $myPadding;
}

#myDiv1:after {
  content: $myString;
}
