/*
 * LESS Operators lets us perform mathematical operations inside
 * of the CSS styles.
 */

$gender: female;
/* Notice SASS can do conditional logic too */
$myColor: if($gender=="male", green, #ff0000);
$basePadding: 5px;
$baseMargin: 5px;
$baseThickness: 1px;

#myDiv {
  /* Notice how we can add colors even */
  color: $myColor + #00f;
  /* We can use braces and perform mathematical calculations too */
  border: ($baseThickness + 11)/2 solid silver;
  /* Notice that SASS knows it is 15 pixels */
  padding: $basePadding $basePadding + 15;
}
